[submodule "libs/MyCSharpServer"]
	path = libs/MyCSharpServer
	url = https://github.com/asv23/MyCSharpServer
	branch = feature/docker-swarm
[submodule "libs/MyPyServer"]
	path = libs/MyPyServer
	url = https://github.com/asv23/MyPyServer
	branch = feature/docker-swarm
